.cardSection {
  /* display: grid; */
  column-gap: 50px;
  row-gap: 50px;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.card {
  /* background-color: yellow; */
  padding: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px 15px 0 0;
}
.movieCardContainer {
  padding: 0 30px;
}

.favourite {
  background-color: #be123c;
}

@media screen and (max-width: 967px) {
  .cardSection {
    /* grid-template-columns: 1fr 1fr !important; */
    column-gap: 30px;
    row-gap: 30px;
  }
  .movieCardContainer {
    padding: 0 40px;
  }
}
